---
import BaseLayout from "../layouts/BaseLayout.astro";
import Home from "../lib/home/Home.astro";
import { Link } from "../lib/Link";
import type { PostFrontmatter } from "../types";

let posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<BaseLayout title="Siddharth Suresh | Home">
  <Home />
  <h1 slot="header-content" class="text-white font-mono text-xl">
    <Link href="/">
      siddharth.codes
    </Link>
  </h1>
  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-gray-600 transition-colors;
      :global(.dark) & {
        @apply text-gray-500;
      }
    }
  </style>
</BaseLayout>
