<script src="./animation.ts"></script>

<div id="world"></div>

<h1
  class="absolute top-[40%] left-1/2 text-[7vw] text-center text-white font-bold -translate-x-1/2 -translate-y-1/2"
>
  Siddharth Suresh
</h1>

<p
  class="absolute bottom-[15%] left-1/2 text-[1.5vw] text-center text-white font-bold -translate-x-1/2 translate-y-1/2"
>
  Full Stack Developer & Core Team Member of Blitz.js
</p>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  h1,
  p {
    font-family: "Press Start 2P", cursive;
  }
  #world {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#164B60,#1B6B93);
    z-index: -1;
  }
</style>
